img{

    display: block;
    margin: 0 auto;
    width: 350px;
    border: 1px solid #000;
    border-radius: 8px;
    margin-left:30px;
    max-width: max-content;
    align-self: center;
    
}

.conteiner{

    display: flex;
    justify-content: center;
    margin: 1%;
} 

.div{
  height: 30%;
  width: 30%;
  text-align: center;
  
}

.body{
background-color: #000;
}

.footer{
  background-color: #d5d2d2;
  text-align: center;
}

.sd10{
    text-align: center;
}
  
.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
}
  
.footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
  
.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-clean ul a:hover {
    opacity:1;
}
  
.footer-clean .item.social {
    text-align:right;
}
  
@media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
}
  
@media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
}
  
.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}
  
.footer-clean .item.social > a:hover {
    opacity:0.9;
}
  
@media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
}
  
@media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
}
  
.footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
}
  /**bridal**/
  .imgprin{
  }

.p1{
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
    color: #000;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.p2{
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
    color: #000;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.p3{
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
    color: #000;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}


.h2{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
    

.tt{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin: 0 auto;
    margin-top: 20px;
}

.t2{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin: 0 auto;
    margin-top: 20px;
}

.t3{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin: 0 auto;
    margin-top: 20px;
}
