.img1{

    display: block;
    margin: 0 auto;
    width: 350px;
    border: 1px solid #000;
    border-radius: 8px;
    margin-left:30px;
    max-width: max-content;
}

.conteiner{

    display: flex;
    justify-content: center;
    margin: 5%;
} 

.card-header{
    text-align: center;
  
}
  
.card-title{
    text-align: center;
  
}
  
.card-text{
    text-align: center;
}
  
.sd10{
    text-align: center;
}

.h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 139, 28);
}

.p{
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
    color: #000;
    margin-right: 40px;
}

footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
}
  
.footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
  
.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-clean ul a:hover {
    opacity:1;
}
  
.footer-clean .item.social {
    text-align:right;
}
  
@media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
}
  
@media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
}
  
.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}
  
.footer-clean .item.social > a:hover {
    opacity:0.9;
}
  
@media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
}
  
@media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
}
  
.footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
}
/**bridal**/
.imgprin{
}


.lista-nav {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}
@media screen and (max-width: 1450px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu {
        color: #1c1c1c;
    }
    .cerrar-menu {
        color: #ececec;
    }
.nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .lista-nav {
        flex-direction: column;
        align-items: end;
    }
    .lista-nav li a {
        color: #ececec;
    }
}

.slide {
    margin-top: 100px;
    justify-content: center;
    align-items: center;

}

.slide img{
    height: 100vh;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.centrar{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.carousel-item
{
    justify-content: center;
    align-items: center;
    display: flex;
}